<h1>POKEMON</h1>
<div>
  <button ng-click="$ctrl.showNew = !$ctrl.showNew">New</button>
  <button ng-click="$ctrl.showList()">List</button>
</div>

<pokemon-new ng-if="$ctrl.showNew" on-create="$ctrl.create(pokemon)"></pokemon-new>

<pokemon-detail ng-if="$ctrl.showDetail" pokemon="$ctrl.pokemon"
                on-edit="$ctrl.edit(id)">
</pokemon-detail>

<pokemon-list ng-if="!$ctrl.showDetail" list="$ctrl.list"
              on-view="$ctrl.view(id)"
              on-delete="$ctrl.delete(pokemon)"
              on-favorite="$ctrl.favorite(id)">
</pokemon-list>
